@model Spice.Models.MenuItem


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var photoPath = "~/images/" + Model.Image;
}

<br />
<h2 class="text-info">Item Details</h2>
<br />

<form method="post" asp-action="Details" asp-controller="Home" asp-area="Customer">
	<div class="border backgroundWhite row">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="col-8">
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Name" class="col-form-label"></label>
				</div>
				<div class="col-8">
					<input asp-for="Name" readonly class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Description" class="col-form-label"></label>
				</div>
				<div class="col-8">
					@if (!string.IsNullOrEmpty(Model.Description))
					{
						@Html.Raw(Model.Description)
					}
				</div>
			</div>
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Price" class="col-form-label"></label>
				</div>
				<div class="col-8">
					<input asp-for="Price" readonly class="form-control" />
				</div>

			</div>
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="CategoryId" class="col-form-label"></label>
				</div>
				<div class="col-8">
					<input asp-for="Category.Name" readonly class="form-control" />
				</div>
			</div>

			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Spicyness" class="col-form-label"></label>
				</div>
				<div class="col-8">
					<select asp-for="Spicyness" disabled asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
				</div>
			</div>
			@*<div class="form-group row">
				<div class="col-4">
					<label asp-for="Count" class="col-form-label"></label>
				</div>
				<div class="col-8">
					<input asp-for="Count" readonly class="form-control" />
					<span asp-validation-for="Count" class="text-danger"></span>
				</div>
			</div>*@
			<div class="form-group row">
				<div class="col-4">
				</div>
				<div class="col-4">
					<a asp-action="Index" class="btn btn-success form-control">Back to List</a>
				</div>
				<div class="col-4">
					<button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
				</div>
			</div>
		</div>
		<div class="col-3 offset-1">
			@if (!string.IsNullOrEmpty(Model.Image))
			{
				<img src="@Model.Image" style="border-radius:5px;border: 1px solid #bbb9b9; width:100%" />
			}
		</div>
	</div>
	<input asp-for="Id" hidden />
</form>

